* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/* top nav style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--accent-font);
}
nav{
    display: flex;
    padding: 29px 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 10em;
}
nav>div:first-child{
    width: 70px;
    padding: 9px 0;
    border: 1px solid red;
    background-color: black;
}
nav>ul{
    list-style: none;
    display: flex;
    column-gap: 40px;
    font-family: var(--accent-font);
    align-items: center;
    margin: 0;
}
nav a{
    color:white ;
    text-decoration: none;
}
nav>a{
    /* background-color: #323858 ; */
    background-color: #382e5b;
    padding: 16px 20px;
    border-radius: .4em;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 7;
    overflow: hidden;
}
nav>a::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15%;
    right: 0;
    width: 0;
    height: 106%;
    background: #2c2c2c;
    transform: skew(45deg);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
nav>a:hover::after{
    width: 100%;
    left: 0;
    transform: skew(0deg);
}
nav>a iconify-icon{
    margin-left: 10px;
    color: white;
    font-size: 19px;
    stroke-width: 2.5;
}
nav>i{
    display: none;
}
@media screen and (max-width:956px) {
    nav{
        justify-content: space-between;
        padding: 29px 3.3em;
        position: relative;
    }
    nav>ul{
        /* display: none; */
        transform: scaleY(0);
        transform-origin: top;
        transition:.3s ease;
        position: absolute;
        background-color: #382e5b;
        top: 100%;
        left: 0;
        right: 0;
        width: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 12px;
        row-gap: 1em;
    }
    nav>a{
        display: none;
    }
    nav>i{
        display: flex;
        font-size: 34px;
        background-color: #382e5b;
        padding: 1px 6px;
        max-height: 40px;
        border-radius: .2em;
        color: white;
    }
}

/* top nav ends here */
#wa-btn {
    position: fixed;
    z-index: 999999;
    bottom: 20px;
    right: 20px;
}
#wa-btn #wa_btn-content {
    background: #382e5b;
    border-radius: 40px;
    box-sizing: border-box;
    display: inline-flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
#wa-btn #wa_btn-content p {
    color: #fff; 
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin-left: 8px !important;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
a {
    text-decoration: none;
    color: #fff;

}
.container {
    padding: 0px 15px ;
}
.background {
    background-image: url(../Images/swiftfix2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    position: relative;
    width: 100%;
} 
.background::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 54.39%, rgba(0, 0, 0, 0.8) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 100%;
    height: 100%;
    z-index: 0;
}   
.background .row {
    padding-bottom: 190px;
}
.background h1 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.2em;
    display: inline-block;
    font-size: 80px;
    text-transform: uppercase;
    perspective: 400px;
    color: #ffff;
    margin-bottom: 5px;
    cursor: none;
}
.background h5 {
    color: #ffff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.about {
    background-color: #fff;
    padding: 100px 0 150px;
}
.about .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about .row .content {
    margin-right: 30px;
}
.about .row .content .tittle {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.about .row .content .tittle  h3{
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    padding-left: 30px;
    margin-bottom: 20px;
    color: #2c2c2c;
}
.about .row .content .tittle  h3 img {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.about .row .content .tittle  h2 {
    perspective: 400px;
    font-size: 46px;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0;
    cursor: none;
    font-family: "Jost", sans-serif;
    color: #2c2c2c;
}
.about .row .content .tittle  p {
    margin-top: 20px;
    line-height: 1.7em;
    color: #707070;
}
.about .row .content .list {
    border-top: 1px solid #eeeeee;
    padding-top: 30px;
    margin-bottom: 30px;
}
.about .row .content .list .t{ 
    margin-bottom: 30px;
}
.about .row .content .list .t h3 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding-left: 30px;
    margin-bottom: 15px;
    font-family: "Jost", sans-serif;
    color: #2c2c2c;
    line-height: 1.2em;
}
.about .row .content .list .t h3 input{
    content: '\f058';
    position: absolute;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 20px;
    color: #382e5b;
    display: inline-block;
    line-height: normal;
    top: 1px;
    left: 0;

}
.about .row .content .list .t p {
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
}
.about .row .content .btn a {
    position: relative;
    display: inline-block;
    background: #382e5b;
    border-radius: 10px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1em;
    text-transform: capitalize;
    color: #fff;
    border: none;
    padding: 18px 54px 18px 20px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 0;
}
.about .row .content .btn a::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url(../images/arrow-white.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-20px, -50%);
    transition: all 0.4s ease-in-out;
}
.about .row .content .btn a:hover::after{
    width: 100%;
    left: 0;
    transform: skew(0deg);
}
.about .row .content .btn a::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15%;
    right: 0;
    width: 0;
    height: 106%;
    background: #2c2c2c;
    transform: skew(45deg);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
.about .row .Images {
    position: relative;
    padding: 0 70px 0 80px;
}
.img-1 .image-anime {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 20px;
}
.img-1 .image-anime:hover::after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.img-1 .image-anime::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
    box-sizing: border-box;
}
.img-1 .image-anime img {
    width: 100%;
    aspect-ratio: 1 / 1.356;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: middle;
}
.about .row .Images .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(46%);
    width: 100%;
    max-width: 220px;
    z-index: 1;
    box-sizing: border-box;
}
.about .row .Images .img-2 figure {
    display: block;
    border: 10px solid #fff;
    border-radius: 20px;
    overflow: hidden;
}
.about .row .Images .img-2 .image-anime {
    width: 100%;
    aspect-ratio: 1 / 1.2;
    object-fit: cover;
    vertical-align: middle;
    position: relative;
}
.about .row .Images .img-2 .image-anime:hover::after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.about .row .Images .img-2 .image-anime::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
    box-sizing: border-box;
}
.about .row .Images .timing {
    position: absolute;
    bottom: 100px;
    right: 0;
    background-color: #382e5b;
    border-radius: 20px;
    width: 100%;
    max-width: 240px;
    padding: 15px;
    margin: 8px 8px 0 0;
    box-sizing: border-box;
}
.about .row .Images .timing h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 0 35px 15px 0;
    line-height: 1.2em;
    font-family: "Jost", sans-serif;
}
.about .row .Images .timing ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.about .row .Images .timing ul li {
    font-size: 16px;
    line-height: normal;
    color: #fff;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.about .row .Images .timing ul li span {
    width: 50%;
    font-weight: 600;
}
.about .row .Images .timing figure {
    position: absolute;
    top: -9px;
    right: -9px;
    border: 8px solid #fff;
    border-radius: 50%;
}
.about .row .Images .timing figure img {
    max-width: 44px;
}
.approach {
    background-color: #f9f9f9;
    padding: 100px 0 150px;
    position: relative;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
}
.approach .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.approach .row .images {
    position: relative;
    padding: 25px 25px 50px 100px;
    box-sizing: border-box;
}
.approach .row .images .img-1 {
    position: relative;
    box-sizing: border-box;
}
.approach .row .images .img-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-5deg);
    background-color: #382e5b;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.approach .row .images .img-1 figure {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.approach .row .images .img-1 figure img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.316;
    vertical-align: middle;
}
.approach .row .images .img-1 figure img::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}
.approach .row .images .img-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 415px;
    z-index: 1;
}
.approach .row .images .img-2 figure {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.approach .row .images .img-2 figure:hover::after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.approach .row .images .img-2 figure::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}
.approach .row .images .img-2 figure img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 0.635;
    vertical-align: middle;
}
.approach .row .content {
    margin-left: 30px;
}
.approach .row .content .tittle {
    position: relative;
    margin-bottom: 40px;
    z-index: 1;
}
.approach .row .content .tittle h3 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-family: "Jost", sans-serif;
    color: #2c2c2c;
    font-weight: 500;
    visibility: visible;
    line-height: 1.4em;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    padding-left: 30px;
    margin-bottom: 20px;
}
.approach .row .content .tittle h3 img {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(../images/icon-sub-heading.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.approach .row .content .tittle h2 {
    font-size: 44px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    color: #2c2c2c;
    line-height: 1.2em;
    perspective: 400px;
    margin-bottom: 0;
    cursor: none;
}
.approach .row .content .nav {
    margin-bottom: 30px;
}
.approach .row .content .nav  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    visibility: visible;
}
.approach .row .content .nav  ul li {
    width: calc(33.33%);
}
.approach .row .content .nav  ul li a {
    color: #707070;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1em;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    padding: 17px 40px;
}
.approach .row .content .nav  ul li #j::before:hover {
    width: 100%;
    right: 0;
}
.approach .row .content .nav  ul li #j::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #382e5b;
    transform: translateX(-25px);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
.approach .row .content .tab-content-head p {
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
}
.approach .row .content .tab-content-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.approach .row .content .tab-content-list ul li {
    position: relative;
    text-transform: capitalize;
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    color: #707070;
    font-family: "Montserrat", sans-serif;
}
.approach .row .content .tab-content-list ul li span {
    content: '\f058';
    position: absolute;
    font-family: 'Font Awesome 6 Free';
    color: #382e5b;
    display: inline-block;
    line-height: normal;
    top: 3px;
    left: 0; 
    accent-color: #382e5b;
}
.skill {
    background-color: #fff;
    padding: 100px 0 150px;
    position: relative;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
}
.skill .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skill .row .skill-content {
    margin-right: 30px;
}
.skill .row .skill-content .tittle {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.skill .row .skill-content .tittle  h3{
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    padding-left: 30px;
    margin-bottom: 20px;
    color: #2c2c2c;
}
.skill .row .skill-content .tittle  h3 img {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.skill .row .skill-content .tittle  h2 {
    perspective: 400px;
    font-size: 46px;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0;
    cursor: none;
    font-family: "Jost", sans-serif;
    color: #2c2c2c;
}
.skill .row .skill-content .tittle  p {
    margin-top: 20px;
    line-height: 1.7em;
    color: #707070;
}
.skill .row .skill-content .bars .progress-bar {
    margin-bottom: 30px;
}
.skill .row .skill-content .bars .progress-bar .skillbar .skill-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}
.skill .row .skill-content .bars .progress-bar .skillbar .skill-data .skill-title{
    font-size: 16px;
    text-transform: capitalize;
}
.skill .row .skill-content .bars .progress-bar .skillbar .skill-data .skill-no {
    font-size: 16px;
    margin-left: 25px;
    font-family: "Jost", sans-serif;
    color: #2c2c2c;
}
.skill .row .skill-content .bars .progress-bar .skillbar .skill-progress {
    border-radius: 99px;
    width: 100%;
    height: 16px;
    position: relative;
    background: #f9f9f9;    
}
.skill .row .skill-content .bars .progress-bar .skillbar .skill-progress .count-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #382e5b;
    overflow: hidden;
    border-radius: 99px;
}
.skill .row .skill-image {
    position: relative;
    display: flex;
    gap: 30px 30px;
    margin-left: 20px;
}
.skill .row .skill-image .img-1,.img-2 {
    width: calc(50% - 15px);
}
.skill .row .skill-image .img-3 {
    width: 430px;
    position: absolute;
    bottom: 25px;
    left: 0;
}
.skill .row .skill-image  .img-1 figure {
    display: block;
    border-radius: 20px;
}
.skill .row .skill-image .img-2 figure {
    display: block;
    border-radius: 20px;
}
.skill .row .skill-image  .img-3 figure {
    display: block;
    border-radius: 20px;
}
.skill .row .skill-image .image-anime {
    position: relative;
    overflow: hidden;
}
.skill .row .skill-image .image-anime:hover::after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.skill .row .skill-image .image-anime::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
    box-sizing: border-box;
}
.skill .row .skill-image  .img-1 img {
    aspect-ratio: 1 / 1.163;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
}
.skill .row .skill-image  .img-2 img {
    aspect-ratio: 1 / 2.06;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
}
.skill .row .skill-image  .img-3 img {
    aspect-ratio: 1 / 0.466;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
}
.fact {
    background: url(../Images/quick-facts-bg\ .jpg), #2c2c2c no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0 0;
    position: relative;
    border-radius: 40px 40px 0 0;
    margin-top: -50px
}
.fact .row {
    position: relative;
    margin-bottom: 80px;
    z-index: 1;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fact .row .tittle {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}
.fact .row .tittle h3 {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    padding-left: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}
.fact .row .tittle  h3 img {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.fact .row .tittle h2 {
    perspective: 400px;
    font-size: 46px;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0;
    cursor: none;
    font-family: "Jost", sans-serif;
    color: #ffffff;
}
.fact .row .content p {
    margin-top: 20px;
    line-height: 1.7em;
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}
.fact .rowd {
    position: relative;
    margin-bottom: 80px;
    z-index: 1;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fact .rowd .fact-item {
    border-bottom: 1px solid #ffffff33;
    margin-bottom: 60px;
    padding-bottom: 60px;
}
.fact .rowd .fact-item h3 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
    padding-left: 30px;
    margin-bottom: 20px;
    line-height: 1.2em;
}
.fact .rowd .fact-item h2 {
    font-size: 80px;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.2em;
}
.fact .rowd .fact-item p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    opacity: 80%;
    text-transform: capitalize;
    margin-bottom: 0;
    line-height: 1.7em;
    font-size: 18px;
    font-weight: 400;
}
.fact .rowd .fact-image {
    width: 100%;
    height: 50vh;
    vertical-align: middle;
    z-index: 1;
}
.fact .rowd .fact-image img {
    width: 100%;
    object-fit: contain;
    max-width: 100%;
}
.choose {
    padding: 180px 0 0 0;
}
.choose .choose-box {
    background-color: #f9f9f9;
    padding: 100px 0 150px;
    position: relative;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
}
.section-row {
    position: relative;
    margin-bottom: 80px;
    z-index: 1;
    align-items: flex-end !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tittle {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}
.choose .choose-box .section-row .tittle h3 {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    padding-left: 30px;
    margin-bottom: 20px;
    color: #2c2c2c;
}
.choose .choose-box .section-row .tittle  h3 img {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.choose .choose-box .section-row .tittle h2 {
    perspective: 400px;
    font-size: 46px;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0;
    cursor: none;
    font-family: "Jost", sans-serif;
    color: #2c2c2c;
}
.choose .choose-box .section-row .choose-image {
    margin-top: -180px;
}
.choose .choose-box .section-row .choose-image figure {
    display: block;
    border-radius: 20px;
}
.choose .choose-box .section-row .choose-image .image-anime {
    position: relative;
    overflow: hidden;
}
.choose .choose-box .section-row .choose-image .image-anime:hover::after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.choose .choose-box .section-row .choose-image .image-anime::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
    box-sizing: border-box;
}
.choose .choose-box .section-row .choose-image img {
    width: 100%;
    aspect-ratio: 1 / 0.581;
    object-fit: cover;
    border-radius: 20px;
}
.choose .choose-box .row .project-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.choose .choose-box .row .project-item {
    width: calc(25% - 22.5px);
}
.choose .choose-box .row .project-item .icon {
    margin-bottom: 20px;
}
.choose .choose-box .row .project-item .icon img {
    max-width: 40px;
}
.choose .choose-box .row .project-item .content h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #2c2c2c;
    font-family: "Jost", sans-serif;
    line-height: 1.2em;
}
.choose .choose-box .row .project-item .content p {
    line-height: 1.7em;
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #707070;
}
.choose .choose-box .row .choose-foot {
    margin-top: 60px;
    padding-top: 60px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #eeeeee;
}
.choose .choose-box .row .choose-foot p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
    color: #707070;
    font-family: "Montserrat", sans-serif;
}
.choose .choose-box .row .choose-foot p a {
    font-weight: 600;
    color: #382e5b;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.work {
    padding: 100px 0 150px;
    background-color: #ffffff;
    position: relative;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
}
.work .section-row {
    align-items: center !important;
}
.work .section-row .tittle h3 {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    padding-left: 30px;
    margin-bottom: 20px;
    color: #2c2c2c;
}
.work .section-row .tittle h3 img {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 20px;
    height: 20px;
    box-sizing: border-box;    
}
.work .section-row .tittle h2 {
    perspective: 400px;
    font-size: 46px;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0;
    cursor: none;
    font-family: "Jost", sans-serif;
    color: #2c2c2c;
}
.work .section-row .c-content {
    display: flex;
    justify-content: flex-end;
}
.work .section-row .c-content .c-box {
    display: inline-flex;
    align-items: center;
    border: 1px solid #eeeeee;
    border-radius: 100px;
}
.work .section-row .c-content .c-images {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 18px 35px;
    border-right: 1px solid #eeeeee;
}
.c-image {
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-left: -20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    z-index: 1;
}
.c-image figure {
    display: block;
    margin: 0;
}
.c-image .image-anime {
    position: relative;
    overflow: hidden;
}
.c-image .image-anime:hover::after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.c-image .image-anime::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}
.c-image img {
    width: 100%;
    border-radius: 50%;
    max-width: 100%;
    vertical-align: middle;
}
.c-images .xt {
    width: 60px;
    height: 60px;
    background-color: #382e5b;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.c-images .xt h3 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2em;
    font-family: "Jost", sans-serif;
}
.c-tittle {
    padding: 18px 15px;
    width: 100%;
    max-width: 180px;
}
.c-tittle h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    font-family: "Jost", sans-serif;
    color: #2c2c2c;
}
.work .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center !important;
}
.work .row .work-image {
    display: flex;
    align-items: center;
}
.work .row .work-image-tittle {
    margin-right: 30px;
}
.work .row .work-image-tittle h2 {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: #eeeeee;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    cursor: none;
    transition: all 0.3s ease-in-out;
    line-height: 1.2em;
    font-family: "Jost", sans-serif;
}
.work-image:hover .work-image-tittle h2 {
    color: #382e5b;
    opacity: 60%;
}
.work .row .work-image figure {
    display: block;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.work .row .work-image .image-anime {
    position: relative;
}
.work .row .work-image .image-anime:hover::after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.work .row .work-image .image-anime::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}
.work .row .work-image img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.37;
    border-radius: 20px;
    max-width: 100%;
    vertical-align: middle;
}
.step {
    margin-left: 30px;
}
.step .item {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.step .item .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-right: 20px;
}
.step .item .icon::before {
    scale: (1);
}
.step .item:hover .icon:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #382e5b;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}
.step .item .icon img {
    position: relative;
    max-width: 50px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.item:hover .icon img  {
    filter: brightness(0) invert(1);
}
.step .content {
    width: calc(100% - 100px);
}
.step .content h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: "Jost", sans-serif;
    line-height: 1.2em;
    color: #2c2c2c;
}
.step .content h3 span {
    color: #382e5b;
}
.step .content p {
    color: #707070;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    line-height: 1.7em;
    font-size: 18px;
    font-weight: 400;
}
.scrolling-ticker-box {
    gap: 50px;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    margin: 0 0 50px 0;
}
.scrolling-content {
    flex-shrink: 0;
    display: flex;
    gap: 50px;
    min-width: 100%;
    animation: scroll 50s linear infinite;
    scroll-behavior: smooth;
    transform: translateX(calc(-28.855% - 14.4275px));;
}
.scrolling-content span {
    align-items: center;
    text-transform: capitalize;
    font-family: "Jost", sans-serif;
    font-size: 100px;
    line-height: 1.2em;
    font-weight: 700;
    color: transparent;
    letter-spacing: 0.02em;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #382e5b;
    stroke: #382e5b;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.scrolling-content span img {
    width: 100%;
    max-width: 55px;
    margin-right: 40px;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.testimonial {
    padding-top: 170px;
}
.testimonial .container {
    margin-right: 53px;
    margin-left: 53px;
}
.testimonial .t-box {
    position: relative;
    border-radius: 40px 40px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0 150px;
    background: url(), #382e5b;
    margin-top: -50px;
}
.testimonial .t-box .row {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
.testimonial .t-box .row .t-image{
    margin-right: 30px;
    margin-top: -170px
}
.testimonial .t-box .row .t-image figure {
    display: block;
    border-radius: 20px;
    overflow: hidden;
}
.testimonial .t-box .row .t-image .image-anime {
    position: relative;
}
.testimonial .t-box .row .t-image .image-anime::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}
.testimonial .t-box .row .t-image .image-anime img {
    width: 100%;
    aspect-ratio: 1 / 0.915;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: middle;
    box-sizing: border-box;
}